<a href="https://colab.research.google.com/github/iterat1on/class/blob/main/%EA%B3%B5%EC%9C%A0%EC%9E%90%EB%8F%99%EC%B0%A8_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 적합

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [5]:
import pandas as pd

In [ ]:
import pandas as pd
data = pd.read_csv('./drive/MyDrive/drive.csv', encoding='cp949')
data.head()

,癤풼evice_id,s_date,s_odo,s_fuel,e_date,e_odo,e_fuel,s_lng,s_lat,e_lng,...,s120,s130,s140,s150,s_can_batt_level,e_can_batt_level,reg_dt,unique_dt,complete_yn,gps_odo_yn
0,8.640000e+14,2021-06-08 11:00,21551318.0,190.190,2021-06-08 12:00,21561082.0,195.195,129.457853,35.553807,129.430710,...,0.0,0.0,0.0,0.0,-2522.056152,86.08600,2021-06-08 11:00,2021-06-08 11:00,1,0
1,8.640000e+14,2021-06-08 11:00,9542999.0,65.065,2021-06-08 12:00,9542990.0,80.080,126.820977,37.653982,126.820917,...,0.0,0.0,0.0,0.0,83.083000,-3158.85791,2021-06-08 11:00,2021-06-08 11:00,1,0
2,8.640000e+14,2021-06-08 11:00,11773612.0,257.257,2021-06-08 12:00,11774104.0,256.256,129.111962,35.134063,129.110948,...,0.0,0.0,0.0,0.0,85.085000,85.08500,2021-06-08 11:00,2021-06-08 11:00,1,0
3,8.640000e+14,2021-06-08 12:00,21931809.9,205.205,2021-06-08 12:00,21931809.9,205.205,126.894073,37.447315,126.894073,...,0.0,0.0,0.0,0.0,100.100000,100.10000,2021-06-08 12:00,2021-06-08 12:00,1,0
4,8.640000e+14,2021-06-08 12:00,9552543.0,80.080,2021-06-08 12:00,9543309.0,70.070,126.820917,37.653890,126.821823,...,0.0,0.0,0.0,0.0,83.083000,83.08300,2021-06-08 12:00,2021-06-08 12:00,1,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   癤풼evice_id        10000 non-null  float64
 1   s_date            10000 non-null  object
 2   s_odo             10000 non-null  float64
 3   s_fuel            10000 non-null  float64
 4   e_date            10000 non-null  object
 5   e_odo             10000 non-null  float64
 6   e_fuel            10000 non-null  float64
 7   s_lng             10000 non-null  float64
 8   s_lat             10000 non-null  float64
 9   e_lng             10000 non-null  float64
 10  e_lat             10000 non-null  float64
 11  s_gps_odo         10000 non-null  float64
 12  e_gps_odo         10000 non-null  float64
 13  idle_time         10000 non-null  float64
 14  max_rpm           10000 non-null  float64
 15  s20               10000 non-null  float64
 16  s30               10000 non-null  float64
 17  s40               10000 non-null  float64
 18  s50               10000 non-null  float64
 19  s60               10000 non-null  float64
 20  s70               10000 non-null  float64
 21  s80               10000 non-null  float64
 22  s90               10000 non-null  float64
 23  s100              10000 non-null  float64
 24  s110              10000 non-null  float64
 25  s120              10000 non-null  float64
 26  s130              10000 non-null  float64
 27  s140              10000 non-null  float64
 28  s150              10000 non-null  float64
 29  s_can_batt_level  10000 non-null  float64
 30  e_can_batt_level  10000 non-null  float64
 31  reg_dt            10000 non-null  object
 32  unique_dt         10000 non-null  object
 33  complete_yn       10000 non-null  int64
 34  gps_odo_yn        10000 non-null  int64
dtypes: float64(29), int64(2), object(4)
memory usage: 2.7+ MB

## 전처리

### 필요한 변수만 추출

In [ ]:
l1 = ['s_lng', 's_lat', 'e_lng', 'e_lat', 'max_rpm']
l2  =['s'+str(i) for i in range(20, 160, 10)]
v_list = l1+l2
v_list

['s_lng',
 's_lat',
 'e_lng',
 'e_lat',
 'max_rpm',
 's20',
 's30',
 's40',
 's50',
 's60',
 's70',
 's80',
 's90',
 's100',
 's110',
 's120',
 's130',
 's140',
 's150']

In [ ]:
df = data[v_list]
df.head()

,s_lng,s_lat,e_lng,e_lat,max_rpm,s20,s30,s40,s50,s60,s70,s80,s90,s100,s110,s120,s130,s140,s150
0,129.457853,35.553807,129.430710,35.493978,2437.435,147.147000,123.401146,142.897461,259.259,28.77523,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,126.820977,37.653982,126.820917,37.653890,0.000,0.000000,0.000000,0.000000,0.000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,129.111962,35.134063,129.110948,35.133873,1551.550,49.490097,0.000000,0.000000,0.000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,126.894073,37.447315,126.894073,37.447315,0.000,0.000000,0.000000,0.000000,0.000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,126.820917,37.653890,126.821823,37.656342,1573.572,0.000000,9.009000,0.000000,0.000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 지역, 도로 정보 columns 생성

In [ ]:
import pandas as pd
import requests
import sys
import json
import datetime

### API 이용을 위한 전처리

In [ ]:
def json_request(url='', encoding='utf-8', success=None,
                 error=lambda e: print('%s : %s' % (e, datetime.now()), file=sys.stderr)):
    headers = {'Authorization': 'KakaoAK {}'.format(APP_KEY)}
    resp = requests.get(url, headers=headers)
    return resp.text

In [ ]:
def reverse_geocode(longitude, latitude):

    url = '%s?x=%s&y=%s' % (URL, longitude, latitude)

    try:

        json_req = json_request(url=url)
        json_data = json.loads(json_req)
        json_doc = json_data.get('documents')[0]
        json_name = json_doc.get('address_name')
        json_region_1depth_name = json_doc.get('region_1depth_name')
        json_region_2depth_name = json_doc.get('region_2depth_name')
        json_region_3depth_name = json_doc.get('region_3depth_name')
    except:

        json_name = 'NaN'
        json_region_1depth_name = 'NaN'
        json_region_2depth_name = 'NaN'
        json_region_3depth_name = 'NaN'
    return json_name, json_region_1depth_name, json_region_2depth_name, json_region_3depth_name


def get_address(x, y):
    address = []
    json_name, json_region_1depth_name, json_region_2depth_name, json_region_3depth_name = reverse_geocode(x, y)
    address.append(json_name)
    return address


def get_r1(x, y):
    region_1 = []
    json_name, json_region_1depth_name, json_region_2depth_name, json_region_3depth_name = reverse_geocode(x, y)
    region_1.append(json_region_1depth_name)
    return region_1

def get_r2(x, y):
    region_2 = []
    json_name, json_region_1depth_name, json_region_2depth_name, json_region_3depth_name = reverse_geocode(x, y)
    region_2.append(json_region_2depth_name)
    return region_2

def get_r3(x, y):
    region_3 = []
    json_name, json_region_1depth_name, json_region_2depth_name, json_region_3depth_name = reverse_geocode(x, y)
    region_3.append(json_region_3depth_name)
    return region_3

### API Key 와 JSON 파일 location 지정

In [ ]:
APP_KEY = '94bef889088a91307d68ea7f24fa1f88' # 개인키로 각자 수정 필요
URL = 'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json'

In [ ]:
i = 7
x_start_crd = float(df.loc[i, ['s_lng']])
y_start_crd = float(df.loc[i, ['s_lat']])
x_end_crd = float(df.loc[i, ['e_lng']])
y_end_crd = float(df.loc[i, ['e_lat']])

In [ ]:
def allo_data(x1, y1, x2, y2) :

    df.loc[i, ['start_add']] = get_address(x1, y1)
    df.loc[i, ['start_r1']] = get_r1(x1, y1)
    df.loc[i, ['start_r2']] = get_r2(x1, y1)
    df.loc[i, ['start_r3']] = get_r3(x1, y1)

    df.loc[i, ['end_add']] = get_address(x2, y2)
    df.loc[i, ['end_r1']] = get_r1(x2, y2)
    df.loc[i, ['end_r2']] = get_r2(x2, y2)
    df.loc[i, ['end_r3']] = get_r3(x2, y2)

In [ ]:
for i in range(len(df)) :
  allo_data(x_start_crd, y_start_crd, x_end_crd, y_end_crd)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1797: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)

In [ ]:
df

In [ ]:
df.to_csv('final_set.csv')

## 전처리된 데이터 프레임 불러오기

In [6]:
df = pd.read_csv('/content/drive/MyDrive/full_set_1.csv')

In [7]:
df.head()

,Unnamed: 0,s_lng,s_lat,e_lng,e_lat,max_rpm,s20,s30,s40,s50,...,s100,s110,s120,s130,s140,s150,r1_s,r3_s,r1_e,r3_e
0,0,126.820977,37.653982,126.820917,37.653890,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,경기도,주교동,경기도,주교동
1,1,126.894073,37.447315,126.894073,37.447315,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,경기도,소하동,경기도,소하동
2,2,126.820917,37.653890,126.821823,37.656342,1573.572,0.000,9.009,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,경기도,주교동,경기도,주교동
3,3,126.822297,37.656592,126.827200,37.657863,0.000,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,경기도,주교동,경기도,주교동
4,4,126.825028,37.567810,126.693173,37.592553,2045.043,187.187,152.152,144.144,187.187,...,0.0,0.0,0.0,0.0,0.0,0.0,서울특별시,마곡동,인천광역시,당하동

In [19]:
df.loc[(df.r1_s.values == '서울특별시')]

,Unnamed: 0,s_lng,s_lat,e_lng,e_lat,max_rpm,s20,s30,s40,s50,...,s100,s110,s120,s130,s140,s150,r1_s,r3_s,r1_e,r3_e
4,4,126.825028,37.567810,126.693173,37.592553,2045.043,187.187,152.152,144.144000,187.187,...,0.000,0.0,0.0,0.0,0.0,0.0,서울특별시,마곡동,인천광역시,당하동
10,10,127.174415,37.550402,126.727973,37.509995,3403.400,211.211,268.268,258.585419,35.035,...,193.193,0.0,0.0,0.0,0.0,0.0,서울특별시,상일동,인천광역시,갈산동
12,12,127.045417,37.542125,127.053470,37.335662,2441.439,394.394,310.310,182.182000,95.095,...,0.000,0.0,0.0,0.0,0.0,0.0,서울특별시,성수동1가,경기도,신봉동
16,16,126.878228,37.567497,126.891663,37.559687,1561.560,0.000,0.000,0.000000,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,서울특별시,상암동,서울특별시,상암동
17,17,126.997108,37.513260,127.000200,37.506742,0.000,0.000,0.000,0.000000,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,서울특별시,반포동,서울특별시,반포동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3019,3019,127.051703,37.542667,127.122230,37.482837,2354.352,303.303,339.339,256.256000,147.147,...,0.000,0.0,0.0,0.0,0.0,0.0,서울특별시,성수동2가,서울특별시,문정동
3020,3020,127.174630,37.550177,127.174630,37.550177,2029.027,35.035,51.051,0.000000,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,서울특별시,상일동,서울특별시,상일동
3021,3021,127.125143,37.538587,127.174188,37.550180,2913.911,315.315,221.221,347.347000,214.214,...,0.000,0.0,0.0,0.0,0.0,0.0,서울특별시,천호동,서울특별시,상일동
3022,3022,127.170068,37.553483,127.155582,37.554775,4165.161,449.449,335.335,134.134000,43.043,...,0.000,0.0,0.0,0.0,0.0,0.0,서울특별시,상일동,서울특별시,명일동
3023,3023,126.983758,37.566925,127.177065,37.550198,2193.191,746.746,474.474,393.393000,61.061,...,0.000,0.0,0.0,0.0,0.0,0.0,서울특별시,수하동,서울특별시,상일동

In [22]:
df_new = df[(df.r1_s == '서울특별시') & (df.r1_e == '서울특별시')]