<a href="https://colab.research.google.com/github/iterat1on/class/blob/main/%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [6]:
import pandas as pd
df = pd.read_csv('./drive/MyDrive/location_match_done.csv')
df.head()

,Unnamed: 0,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,s40,s50,...,start_add,end_add,s_teukbyul_si/do,s_teukbyulsi/goon/gu,s_dong/eup/myun,e_teukbyulsi/do,e_teukbyulsi/goon/gu,e_dong/eup/myun,s,e
0,3,37.653890,126.820917,37.656342,126.821823,1573.572,0.000000,9.009,0.000,0.000,...,경기도 고양시 덕양구 주교동 999,경기도 고양시 덕양구 주교동 1542-1,경기도,고양시,덕양구,경기도,고양시,덕양구,"[37.6538899, 126.8209166]","[37.6563416, 126.8218233]"
1,4,37.656592,126.822297,37.657863,126.827200,0.000,0.000000,0.000,0.000,0.000,...,경기도 고양시 덕양구 주교동 1069-1,경기도 고양시 덕양구 주교동 222-9,경기도,고양시,덕양구,경기도,고양시,덕양구,"[37.6565916, 126.8222966]","[37.6578633, 126.8272]"
2,5,37.648488,126.839532,37.648250,126.837180,0.000,0.000000,0.000,0.000,0.000,...,경기도 고양시 덕양구 화정1동 188-31,고양시 노인복지관,경기도,고양시,덕양구,고양시,노인복지관,NaN,"[37.6484883, 126.8395316]","[37.64825, 126.83718]"
3,6,37.648250,126.837180,37.648010,126.839187,0.000,0.000000,0.000,0.000,0.000,...,고양시 노인복지관,경기도 고양시 덕양구 화정1동 188-28,고양시,노인복지관,NaN,경기도,고양시,덕양구,"[37.64825, 126.83718]","[37.64801, 126.8391866]"
4,7,35.535758,129.339237,35.537258,129.329310,1760.759,5.592834,124.124,19.019,3.003,...,울산광역시 남구 화합로125번길 9,울산광역시 남구 달동 1247-14,울산광역시,남구,화합로125번길,울산광역시,남구,달동,"[35.5357583, 129.3392366]","[35.5372583, 129.32931]"

In [109]:
s1 = df.loc[5, ['start_add']]
s1

start_add    경기도 고양시 덕양구 화정1동 188-28
Name: 5, dtype: object

In [110]:
s1 = s1.values[0].split('-')[0]
s1

'경기도 고양시 덕양구 화정1동 188'

In [111]:
s2 = int(s1.split(' ')[-1])

s2 = str(s2//10*10)

In [112]:
s1 = df.loc[5, ['start_add']].values[0].split(' ')[:-1]
s1

['경기도', '고양시', '덕양구', '화정1동']

In [114]:
' '.join(s1)+' '+s2

'경기도 고양시 덕양구 화정1동 180'

100으로 나누기

In [115]:
s1 = df.loc[5, ['start_add']]
s1

start_add    경기도 고양시 덕양구 화정1동 188-28
Name: 5, dtype: object

In [116]:
s1 = s1.values[0].split('-')[0]
s1

'경기도 고양시 덕양구 화정1동 188'

In [117]:
s2 = int(s1.split(' ')[-1])

s2 = str(s2//100*100)

In [118]:
s1 = df.loc[5, ['start_add']].values[0].split(' ')[:-1]
s1

['경기도', '고양시', '덕양구', '화정1동']

In [119]:
' '.join(s1)+' '+s2

'경기도 고양시 덕양구 화정1동 100'